.friends {
    display: flex;
    width: 500px;
    background-color: #f3f6f9;
    border-radius: 10px;
    text-align: center;
    margin: 50px auto;
}

.list {
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 20%;
}